body{
    width:100%;    
    background-color:black;
}
h1{
    font-size:2rem;
    margin:0.2rem;
}
p{
    font-size:1.2rem;
}
/*--------Wrapper dekker alt.------*/
.wrapper{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    text-align: center;
    font-size:1em;
    /*background-image: url(/Ztest/images/Front_Tex.png);*/
}
#ImgLeft, #ImgRight{
    height:100%;
    width:20%;
    z-index:-9;
}
#ImgLeft{
    float:left;
}
#ImgRight{
    float:right;
}
/*--------headerLeft og middle.------*/
#header{
    width:50%;
    margin:auto;
    border-top:5px solid #07f5e2;
    border-bottom:5px solid #07f5e2;
    border-radius:5%;
    z-index:5;
}
#Hmiddle{
    display:inline-block;
}
/*--------Bilder på header.------*/
#headerImage{
    width:50%;
    position:center;
}
/*--------List på venstre side med lenker.------*/
#HeadLeftList li, #HeadLeftList li a{
    display:block;
    font-style:none;
    text-decoration:none;
    list-style-type:none;
    text-align:center;
    color:teal;
    border-radius:10%;
    font-size:1.2em;
    margin:0.2em;
}

/*--------HovedMeny------*/
ul{
    display:inline-block;
    list-style-type: none;
    width:80%;
    margin:1em auto;
    padding:0;
}
li{
    display:inline;
    width:25%;
    font-family:'Times New Roman', Times, serif;
    border-bottom:0.2rem solid #07f5e2;
    border-radius:25%;
    margin:1rem;
}
li a{
    font-size:1.5rem;
}
/*--------HovedOmrådet på skjermen..------*/
#navn, #epost{
    background:none;
    font-size:1em;
    color:#07f5e2;
    border:2px solid #07f5e2;
}
#navn::placeholder, #epost::placeholder{
    background:none;
    font-size:1em;
    color:rgba(7, 245, 226, 0.8);
}
#submit{
    background-color:#07f5e2;
    padding:0 0.75em;
    margin:0.75em;
    font-size:1.25em;
    border-radius: 20%;
}

/*--------HovedOmrådet på skjermen..------*/
#main{
    margin-top:2em;
    display:inline-block;
    width:60%;
    z-index:5;
}
#left, #right{
    border:0.3em solid #07f5e2;
    border-radius:15%;
    font-family: Arial, Helvetica, sans-serif;
    color:#07f5e2;
}
#topLeftPic, #bottomLeftPic{
    margin:1em;
    width:80%;
    position:center;
}
#topRightPic, #bottomRightPic{
    margin:1em;
    width:80%;
    position:center;
}
#left, #right{
    display:block;
    z-index:2;
    width:40%;
}
#left{
    float:left;
    margin-left:3em;    
}
#right{
    float:right;
    margin-right:3em;
}
#one, #two{
    z-index:5;
    width:80%;
    float:none;
    margin:auto auto;
    border-top:0.3em solid #07f5e2;
    border-bottom:0.3em solid #07f5e2;
    border-radius:15%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color:#07f5e2;
}
#Reset{
    margin:1em auto;
    border:0.2em solid #07f5e2;
    border-radius:50%;
    background-color:transparent;
    width:150px;
    color:#07f5e2;
    padding:0.5em;
}
/*Game1*/
#game1Main{
    z-index:5;
    display:grid;
    grid-template-columns: auto auto auto;
    background-color:#07f5e2;
    padding: 1px;
    width:455px;
    height: 455px;
    margin:2rem auto;
    border:0.3rem solid #07f5e2;
}
.Color1, .Color2{
    background-color:teal;
    font-size:4em;
    text-align:center;
    padding: 0.36em;
    border: 0.1rem solid #07f5e2;
    height:100px;
    width:100px;
}
.Color2{
    background-color:black;
    color:#07f5e2;
}
/*Game2*/
#game2Main{
    z-index:5;
    width:80%;
    display:block;
    background-color:#000;
    border:0.3rem solid #07f5e2;
    border-radius:20%;
    padding: 1rem;
    margin:5rem auto 2rem;
    color:#07f5e2;
}
#newGame{
    border:0.2rem solid #07f5e2;
    background-color:transparent;
    border-radius:25%;
    margin-top:1em;
    padding:1rem;
    font-size:2rem;
    color:#07f5e2;
}
#numberGuess{
    border:0.3rem solid #07f5e2;
    border-radius:25%;
    background:transparent;
    margin:2rem 0;
    padding:1rem;
    width:50%;
    font-size:2rem;
    text-align:center;
}
#game2Main input{
    color:#07f5e2;
}
#game2Main input::placeholder{
    color:rgba(7, 245, 226, 0.5);
}

/*--------Spesifikt for andre sider..------*/
#one p{
    margin:0.2em;
}
#one input, #one textarea, #one select, #one button{
    outline:none;
    border:none;
    border-top:2px solid #07f5e2;
    border-bottom:2px solid #07f5e2;
    border-radius:25%;
    padding:1em;
}

#one input::placeholder, #one textarea::placeholder,#one select::placeholder, #one button::placeholder{
    color:rgba(7, 245, 226, 0.5);
}
#one textarea{
    width:80%;
    height:100px;
    background-color:transparent;
    font-size: 1em;
    color:#07f5e2;
    
}
#topPic, #midPic, #botPic{
    float:none;
    width:80%;
}
#topPic:hover, #midPic:hover, #botPic:hover{
    width:90%;
    z-index:50;
}
/*--------Bunnen av skjermen..------*/
#footer{
    display:block;
    width:60%;
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
    color:#07f5e2;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.3em;
}
#footer p{
    margin:0;
}
#leftFooter, #middleFooter, #rightFooter{
    display:inline-block;
    width:25%;
    height:150px;
    border-top:0.2em solid #07f5e2;
    border-bottom:0.2em solid #07f5e2;
    border-radius:25%;
    padding:0.5em 0;
}
#leftFooter{
    float:left;
    margin-left:3em;
}
#middleFooter{
    float:center;
    border:none;
}
#rightFooter{
    float:right;
    margin-right:3em;
    font-style:none;
    text-decoration:none;
    list-style-type:none;
    text-align:center;
    font-size:1.2em;
}
#rightFooter a{
    display:block;
    margin:1rem;
}
#leftFooter input{
    font-style:none;
    text-decoration:none;
    list-style-type:none;
    text-align:center;
    color:#07f5e2;
    font-size:1em;
    margin:0.5em;
    width:80%;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid rgba(7, 245, 226, 0.5);
    
}
#leftFooter input::placeholder
{
    color:rgba(7, 245, 226, 0.5);
}
#YouWon{
    color:teal;
}
@media (max-width:1250px){
    #left, #right{
        width:80%;
        float:none;
        margin:1em auto;
    }
    .sideImg{
        height:100%;
        width:20%;
    }
    #footer{
        margin:0 auto;
    }
    #leftFooter, #middleFooter, #rightFooter{
        margin:0;
        width:33%;
    }
}
@media (max-width:1050px){
    body, .wrapper{
        width:100%;
    }
    .li{
        width:20%;
        float:none;
        margin:1em auto;
    }
    footer{
        width:80%;
    }
    #leftFooter, #middleFooter, #rightFooter{
        display:inline-block;
        position:none;
        width:45%;
        float:none;
        margin:1em auto;
    }
    #leftFooter{
        float:left;
    }
    #rightFooter{
        float:right;
    }
    #middleFooter{
        width:100%;
        margin:-5rem auto;
    }
    #ImgLeft, #ImgRight{
        display:none;
    }
}
@media (max-width:700px){
    .li{
        width:20%;
        float:none;
        margin:5rem auto;
    }
    footer{
        width:80%;
    }
    #leftFooter, #middleFooter, #rightFooter{
        display:block;
        position:none;
        width:65%;
        float:none;
        margin:1em auto;
    }
    #middleFooter{
        margin:-5rem auto;
    }
    /*Game1*/
    #game1Main{
        width:290px;
        height: 290px;
        margin:1 auto;
    }
    .Color1, .Color2{
        height:46px;
        width:46px;
    }
    /*Game2*/
    #game2Main{
        margin:1rem auto;
    }
}